*.bak
*.env
*.zip
*.log
venv
*firebase-adminsdk-*.json
*test*.py
__pycache__/
response.json

# Ignore package directories
package/
layer/
lambda_package/


# Secret keys and configuration files
*.key
*.pem
config.yaml

# Ignore directory for build outputs
/build/
/dist/

# Dependency directories
/node_modules/
/vendor/

# System files
.DS_Store
